{% extends "plain.html" %}

    {% block pageheader %}
            <h3>Select Exams <i class="fa fa-angle-double-right "></i></h3>
    {% endblock pageheader %}

    {% block middle %}
    <div class="container">
        <form method='post' action=''>{% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ question.text }}
                    </div>
                        <div class="panel-body">
                                {{ form.option }}
                    </div>
                </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-primary btn-large btn-block">Back</a>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="Next" class="btn btn-primary btn-large btn-block" />
                        </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        </form>
    </div>
    {% endblock middle %}

    {% block extra-js %}
    <script type="text/javascript">
        $('#id_name').attr('class','form-control');
        $('#id_category').attr('class','form-control');

        // Set active menu to batch
        $('.active-menu-item').removeAttr('class','active-menu-item');
        $('#exam-menu').attr('class','active-menu-item');
    </script>
    {% endblock extra-js %}
