{% extends "plain.html" %}

    {% block pageheader %}
            <h3>Select Exams <i class="fa fa-angle-double-right "></i></h3>
    {% endblock pageheader %}

    {% block middle %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Exam: {{ exam }} ({{ exam.batch.category }})</h4>
                            <h6>Duration: {{ exam.batch.duration|default:"N/A" }}</h6>
                            <h6>Number of questions: {{ exam.num_questions|default:"N/A" }}</h6>
                    </div>
                    <div class="panel-footer">
                            <a href="#" class="btn btn-primary btn-large btn-block">Start</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% endblock middle %}

    {% block extra-js %}
    <script type="text/javascript">
        $('#id_name').attr('class','form-control');
        $('#id_category').attr('class','form-control');

        // Set active menu to batch
        $('.active-menu-item').removeAttr('class','active-menu-item');
        $('#exam-menu').attr('class','active-menu-item');
    </script>
    {% endblock extra-js %}
